name: Generate Preview

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pages: write
  id-token: write

env:
  ARTIFACT_NAME: preview-pr-${{ github.event.number }}

concurrency:
  group: preview-pr-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: setup mkdocs and plugins
        run: pip install -r requirements.txt

      - name: build
        run: mkdocs build -d _site
      
      - name: delete previous artifact
        uses: actions/github-script@v7
        with:
          script: |
            const artifacts = await github.rest.actions.listArtifactsForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: "${{ env.ARTIFACT_NAME }}",
            });
            
            for (const artifact of artifacts.data.artifacts) {
              console.log(`Deleting artifact ${artifact.id} (${artifact.name})`);
              await github.rest.actions.deleteArtifact({
                owner: context.repo.owner,
                repo: context.repo.repo,
                artifact_id: artifact.id,
              });
            }

      - name: upload
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: "_site"
          retention-days: 2
          overwrite: true
